<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="New ReCaptcha Test">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="PHPUNIT_WATCHTOWER" value=""/>
    </php>
</phpunit>
